name: Build Backend

on:
  push:
    branches: [ feature/ci_implementation ]
  pull_request:
    branches: [ feature/ci_implementation ]
          # --recursive \
          # --acl public-read \
          # --region us-east-1 \
          # /backend_package s3://sept-backend-jars
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: mvn -B package --file BackEnd/sept-backend/pom.xml
      - run: mkdir build && cp BackEnd/sept-backend/target/*.jar build
      - uses: actions/upload-artifact@v2
        with:
          name: backend_package
          path: build

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Backend Artifact
        uses: actions/download-artifact@v2
        with:
          name: backend_package
          path: build
      - name: Deploy to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp \
          --recursive \
          --acl public-read \
          --region ap-southeast-2 \
          ./build s3://sept-backend-jars
  # deploy:
  #   name: Deploy
  #   needs: build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Download backend artifact
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: backend_package
  #         path: build/artifact
  #     - uses: actions/checkout@v2
  #     - name: Deploy to S3
  #       env:
  #         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #       run: |
  #         aws s3 cp build/artifact/backend_package s3://sept-backend-jars --region us-east-1
