name: Continuous Deployment - Frontend

on:
  push:
    branches: [ feature/87-cicd ]

jobs:
  build:
    name: Deploy Frontend
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [14]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm install
      working-directory: ./FrontEnd/sept-react-frontend

    - run: CI=false npm run build
      working-directory: ./FrontEnd/sept-react-frontend

    # - name: Display structure build
    #   run: ls -R
    #   working-directory: ./FrontEnd/sept-react-frontend/build/

    - name: Configure AWS credentials from Test account
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.TEST_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.TEST_AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2

    - name: Copy files to the test website with the AWS CLI
      run: |
        aws s3 cp ./FrontEnd/sept-react-frontend/build/ s3://sept-frontent --recursive
