name: Deploy Frontend

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    name: Deploy Frontend
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2

# name: Deploy

# on:
#   push:
#     branches: [ feature/ci_implementation ]
#   pull_request:
#     branches: [ feature/ci_implementation ]

# jobs:
#   deploy:
#     name: Upload to Amazon S3
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout
#       uses: actions/checkout@v2

#     - name: Download Frontend Artifact
#       uses: actions/download-artifact@v2
#       with:
#         name: frontend_package
#         path: build

#     - name: Configure AWS credentials from Test account
#       uses: aws-actions/configure-aws-credentials@v1
#       with:
#         aws-access-key-id: ${{ secrets.TEST_AWS_ACCESS_KEY_ID }}
#         aws-secret-access-key: ${{ secrets.TEST_AWS_SECRET_ACCESS_KEY }}
#         aws-region: us-east-1

#     - name: Copy files to the test website with the AWS CLI
#       run: |
#         aws s3 sync . s3://my-s3-test-website-bucket
# # jobs:
# #   build:
# #     name: Build
# #     runs-on: ubuntu-18.04
# #     strategy:
# #       matrix:
# #         node-version: [10.x]
# #     steps:
# #       - uses: actions/checkout@v2
# #       - name: Use Node.js ${{ matrix.node-version }}
# #         uses: actions/setup-node@v1
# #         with:
# #           node-version: ${{ matrix.node-version }}
# #       - run: |
# #           npm i -D
# #           npm test --if-present
# #           npm run build:prod
# #         env:
# #           CI: true
# #       - name: Upload Artifact
# #         uses: actions/upload-artifact@master
# #         with:
# #           name: build
# #           path: build
# #   deploy:
# #     name: Deploy
# #     needs: build
# #     runs-on: ubuntu-18.04
# #     steps:
# #       - uses: actions/checkout@master
# #       - name: Deploy to S3
# #         env:
# #           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
# #           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
# #         run: |
# #           aws s3 cp \
# #           --recursive \
# #           --acl public-read \
# #           --region ap-southeast-2 \
# #           ./build s3://example

