name: Upload S3

on:
  push:
    branches: [ feature/ci_implementation ]
  pull_request:
    branches: [ feature/ci_implementation ]

jobs:
  deploy:
    name: Upload to Amazon S3
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ASIA37EK4XUYYYNETY7T
        aws-secret-access-key: BM6F5zhOQU/Sl+KN/2HN1WQWcD8/9xxyr5OdLqCQ
        aws-region: us-east-1

    - name: Copy files to the frontend s3 bucket
      run: |
        aws s3 cp ./FrontEnd/sept-react-frontend/src/service/ s3://test-s3-sept